{{>layouts/header}}


{{#member}}
<form class="container" action="/members/update" method="post">
    <input type="hidden" name="id" value="{{id}}">
    <div class="mb-3">
        <label class="form-label" value>이메일</label>
        <input type="text" class="form-control" name="email" value="{{title}}">
    </div>
    <div class="mb-3">
        <label class="form-label">비밀번호</label>
        <textarea class="form-control" rhows="3" name="content">{{content}}</textarea>
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
</form>
{{/member}}

{{>layouts/footer}}